<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <title>Boolzap</title>
</head>

<body>
    <main id="app">
        <div id="top-bar-main"></div>
        <div id="main-box" class="container-flex">
            <!-- barra a sinistra -->
            <nav class="container-flex">
                <!-- banner utente -->
                <div class="personal-banner container-flex">
                    <img src="imgs/avatar_io.jpg" alt="">
                    <div class="filler"></div>
                    <div class="icon-container">
                        <i class="fa fa-circle-o-notch clickable" aria-hidden="true"></i>
                        <i class="fa fa-comment clickable" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v clickable" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- ad per attivare le notifiche -->
                <div id="notification-ad" class="container-flex">
                    <div id="notification-icon">
                        <i class="fa fa-bell-slash-o" aria-hidden="true"></i>
                    </div>
                    <div class="side-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- barra di ricerca contatti -->
                <div id="search-bar" class="input-bar">
                    <div class="container-flex">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" v-model="query" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- lista contatti -->
                <div id="contacts-list" class="container-flex">
                    <ul class="no-style">
                        <li v-for="(contact, index) in filteredContacts" class="contact container-flex clickable" :class="{active: index == activeChat}" @click="onContactClick(contact)">
                            <img :src='"imgs/avatar" + contact.avatar + ".jpg"' alt="">
                            <div class="side-text">
                                <p>{{contact.name}}</p>
                                <p>{{lastMessage(contact).text}}</p>
                            </div>
                            <div v-if="getTimestamp(lastMessage(contact)) != ''" class="timestamp">
                                {{getTimestamp(lastMessage(contact))}}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- chat attiva a destra -->
            <div id="chat-section" class="container-flex">
                <!-- banner interlocutore -->
                <div class="personal-banner container-flex">
                    <img :src='"imgs/avatar" + usersList[activeChat].avatar + ".jpg"' alt="">
                    <div class="side-text">
                        <p>{{usersList[activeChat].name}}</p>
                        <p>{{lastAccess}}</p>
                    </div>
                    <div class="filler"></div>
                    <div class="icon-container">
                        <i class="fa fa-search clickable" aria-hidden="true"></i>
                        <i class="fa fa-paperclip clickable" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v clickable" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- finestra della chat -->
                <div id="chat" class="container-flex">
                    <div v-for="message in usersList[activeChat].messages" class="message" :class="message.status">
                        {{message.text}}
                        <div class="timestamp">{{getTimestamp(message)}}</div>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-chevron-down" tabindex="-1" aria-hidden="true">
                            <div class="menu container-flex">
                                <ul class="no-style">
                                    <li @click="messageInfo(message)">Message info</li>
                                    <li @click="deleteMessage(message)">Delete message</li>
                                </ul>
                            </div>
                        </i>
                    </div>
                </div>
                <!-- barra degli input -->
                <div class="input-bar container-flex">
                    <i class="fa fa-smile-o clickable" aria-hidden="true"></i>
                    <div class="container-flex">
                        <input type="text" v-model="newMessage" @keyup.enter="sendMessage">
                    </div>
                    <i class="fa clickable" :class="newMessage != '' ? 'fa-paper-plane' : 'fa-microphone'" @click="onClickSend(newMessage)" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>